header, .home-body {
    background-image: linear-gradient(to right, #000000 45%, #262626);
}

.personal-img {
    height: 30rem;
    width: 30rem;
    overflow: hidden;
}

.personal-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: scale(2) translateX(2%);
}

.about-section {
    margin: 2rem;
}

.about-info {
    width: 47.5%;
    gap: 2rem;
}

@media (max-width: 768px) {
    .personal-img {
        height: 10rem;
        width: 10rem;
        overflow: hidden;
    }

    .about-section {
        margin: 2rem;
        flex-wrap: wrap;
        flex-direction: column-reverse;
        gap: 2rem;
    }
    .about-info {
        flex: 1 1 100%;
        gap: 2rem;
    }
}