.contact-body {
    background-image: linear-gradient(to right, #000000 45%, #262626);
}

.fields-container {
    width: 100%;
    max-width: 50rem;
    gap: 1.5rem;
}

.contact-text {
    font-size: 4rem;
    line-height: 1;
}

.sublabel {
    color: #767676;
    font-size: small;
}

.name, .email{
    width: 100%;
    max-width: 20rem;
}

.phone-3 {
    width: 100%;
    max-width: 3rem;
}

.phone-4 {
    width: 100%;
    max-width: 4rem;
}

.message {
    width: 100%;
    max-width: 50rem;
}

.send-btn {
    width: 100%;
    max-width: 4rem;
}

@media (max-width: 768px) {
    .contact-text {
        font-size: 2rem;
        line-height: 1;
    }

    .fields-container {
    width: 100%;
    max-width: 20rem;
    gap: 0.5rem;
}
}