body {
    height: 100%;
    width: 100%;
    font-family: 'Play', 'Arial', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1rem;
    color: #f5f5f5;
    background-color: #262626;
    -ms-overflow-style: none !important;
    scrollbar-width: none !important;
}

::-webkit-scrollbar {
    display: none !important;
}

a {
    text-decoration: none;
    color: inherit;
}

.special {
    font-weight: 700;
}


header {
    gap: 2rem;
    padding: 2rem;
    z-index: 10;
}

header a:hover {
    color:#ffffff;
}

footer {
    padding-bottom: 0.5rem;
}

.logo-by {
    font-size: 1rem;
    line-height: 1;
}

.logo-yeek {
    font-size: 2.5rem;
    line-height: 1;
}

.btn, .form-control {
    background-color: #3c3c3c;
    color: #f5f5f5;
    border-color: transparent;
}

.form-control:focus {
    background-color: #3c3c3c;
    color: #f5f5f5;
    border-color: transparent;
}

.btn:hover {
    background-color: #4e4e4e;
}

::placeholder {
    color: #7e7e7e !important;
}

@media (max-width: 768px) {
    header {
        gap: 1rem;
        padding: 1rem;
        z-index: 10;
    }

}