body {
    height: 100%;
    width: 100%;
    font-family: 'Play', 'Arial', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 12pt;
    color: #f5f5f5;
    background-color: #262626;
}

a {
    text-decoration: none;
    color: inherit;
}

.special {
    font-weight: 700;
}


header {
    gap: 2.5%;
    padding: 2.5% 2.5% 2.5% 2.5%;
    z-index: 10;
}

header div {
    align-content: center;
}

header a:hover {
    color:#ffffff;
}

footer {
    padding-bottom: 0.5%;
}

.logo-by {
    font-size: 2vh;
    line-height: 1;
}

.logo-yeek {
    font-size: 4vh;
    line-height: 1;
}

.btn, .form-control {
    background-color: #3c3c3c;
    color: #f5f5f5;
    border-color: transparent;
}

.form-control:focus {
    background-color: #3c3c3c;
    color: #f5f5f5;
    border-color: transparent;
}

.btn:hover {
    background-color: #4e4e4e;
}

::placeholder {
    color: #7e7e7e !important;
}