header, .home-body {
    background-image: linear-gradient(to right, #000000 45%, #262626);
}

.personal-img {
    height: 140px;
    width: 140px;
    border-radius: 50%;
    overflow: hidden;
    margin: 1%;
}

.personal-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: scale(1.25);
}

.project-section {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    margin: 2rem;
}

.project-info {
    flex: 1 1 47.5%;
    max-width: 47.5%;
}

.project-video {
    aspect-ratio: 16 / 9;
    flex: 1 1 47.5%;
    max-width: 47.5%;
}

.project-video iframe {
    width: 100%;
    height: 100%;
}

.project-img {
    flex: 1 1 47.5%;
    max-width: 47.5%;
}

.project-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media (max-width: 768px) {
    .project-info {
        flex: 1 1 100%;
        max-width: 100%;
    }

    .project-video {
        flex: 1 1 100%;
        max-width: 100%;
    }

    .project-img {
        flex: 1 1 100%;
        max-width: 100%;
    }
}

