header {
    background-image: linear-gradient(to right, #000000 40%, #262626);
}

.home-body {
    background-image: linear-gradient(to right, #000000 40%, #262626);
}

.personal-img {
    height: 140px;
    width: 140px;
    border-radius: 50%;
    overflow: hidden;
    margin: 1%;
}

.personal-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: scale(1.25);
}

.project-section {
    margin: 2.5% 2.5% 2.5% 2.5%;
}

.project-info {
    width: 47.5%;
}

.project-video {
    aspect-ratio: 16 / 9;
    width: 100%;
    max-width: 47.5%;
}

.project-video iframe {
    width: 100%;
    height: 100%;
}

.project-img {
    width: 100%;
    height: auto;
    max-width: 47.5%;
}

.project-img img {
    width: 100%;
    height: 100%;
}