.logo-container {
    justify-content: center;
    text-align: center;
}

.start-body {
    background-image: linear-gradient(to right, #000000 45%, #262626);
}

.logo-by {
    font-size: 6vh !important;
    line-height: 1 !important;
}

.logo-yeek {
    font-size: 12vh !important;
    line-height: 1 !important;
}

@keyframes click-glow {
    0% {
        color: #262626;
    }

    15% {
        color: #3c3c3c;
    }

    22% {
        color: #515151;
    }

    30% {
        color: #676767;
    }

    38% {
        color: #7d7d7d;
    }

    46% {
        color: #929292;
    }

    54% {
        color: #a8a8a8;
    }

    62% {
        color:#bebebe;
    }

    70% {
        color: #d4d4d4;
    }

    78% {
        color: #e9e9e9;
    }

    100% {
        color: #ffffff;
    }
}

.click-text {
    color: #262626;
    font-size: 3vh;
    line-height: 1;
    animation-name: click-glow;
    animation-delay: 1.5s;
    animation-duration: 1.25s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
