.welcome {
    justify-content: center;
    text-align: center;
}

.welcome-body {
    background-image: radial-gradient(#262626, #000000 30%, #262626 60%, #000000 80%);
}

.welcome-text {
    font-size: 12vh;
    line-height: 1;
}

@keyframes click-glow {
    0% {
        color: #262626;
    }

    15% {
        color: #3c3c3c;
    }

    22% {
        color: #515151;
    }

    30% {
        color: #676767;
    }

    38% {
        color: #7d7d7d;
    }

    46% {
        color: #929292;
    }

    54% {
        color: #a8a8a8;
    }

    62% {
        color:#bebebe;
    }

    70% {
        color: #d4d4d4;
    }

    78% {
        color: #e9e9e9;
    }

    100% {
        color: #ffffff;
    }
}

.click-text {
    color: #262626;
    font-size: 3vh;
    line-height: 1;
    animation-name: click-glow;
    animation-delay: 1.5s;
    animation-duration: 1.25s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
