.welcome {
    justify-content: center;
    text-align: center;
}

.welcome-text {
    font-size: 12vh;
}

@keyframes click-glow {
    0% {
        color: #ffffff;
    }

    15% {
        color: #e9e9e9;
    }

    25% {
        color: #d4d4d4;
    }

    35% {
        color: #bebebe;
    }

    45% {
        color: #a8a8a8;
    }

    55% {
        color: #929292;
    }

    65% {
        color: #7d7d7d;
    }

    75% {
        color:#676767;
    }

    85% {
        color: #515151;
    }

    95% {
        color: #3c3c3c;
    }

    100% {
        color: #262626;
    }
}

.click-text {
    font-size: 3vh;
    animation-name: click-glow;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

header {
    background-color: #262626;
}

footer {
    background-color: #262626;
}

.menu {
    text-align: left;
}

.logo {
    font-size: 4vh;
}

.contact {
    text-align: right;
}