body {
    height: 100%;
    width: 100%;
    font-family: 'Play', 'Arial', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 12pt;
    color: #f5f5f5;
    background-color: #262626;
}

a {
    text-decoration: none;
    color: inherit;
}

.special {
    font-weight: 700;
}
